@{
    ViewBag.Title = "Principal";
}

<br />
<br />

<div>
    <h1 align="center"> Padaria Novo Milênio</h1>
    <img hspace="420" src="https://rlv.zcache.com/vintage_cake_emblem_logo_bakery_ii_sticker-rd490b5d7ed1b4b238e91a3a9f108d516_v9waf_8byvr_324.jpg" width="300" height="300" />
</div>

<p class="text-muted" align="center">
    Os melhores salgados de Santo André, agora vendidos pela internet!
</p>

<br />
<br />

<div align="center">
    <a @Html.ActionLink("Tabela de Preços", "Preco", "Home", null, new { @class = "btn btn-info" }) </a>
    <a @Html.ActionLink("Encomendar", "Create", "pedidos", null, new { @class = "btn btn-info" }) </a>
</div>

<br />
<br />
