@{
    ViewBag.Title = "Preco";
}

<br />

<div>
    <h3 align="center"> Tabela de Preços</h3>
    <img hspace="420" src="https://rlv.zcache.com/vintage_cake_emblem_logo_bakery_ii_sticker-rd490b5d7ed1b4b238e91a3a9f108d516_v9waf_8byvr_324.jpg" width="300" height="300" />
</div>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Salgado</th>
                        <th>Preço/Unidade</th>
                    </tr>
                    <tr>
                        <td>Coxinha</td>
                        <td>R$ 3,00</td>
                    </tr>
                    <tr>
                        <td>Kibe</td>
                        <td>R$ 2,50</td>
                    </tr>
                    <tr>
                        <td>Esfiha</td>
                        <td>R$ 3,50</td>
                    </tr>
                    <tr>
                        <td>Empada</td>
                        <td>R$ 4,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>